<div class="container">
	<center>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Order #</th>
	      <th>Order Placed</th>
	      <th>Order Status</th>
	      <th>Total</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @user.orders.each do |order| %>
	    <tr>
	      <th scope="row"> <%= link_to order.id, order_path(order) %></th>
	      <td><%= order.date %></td>
	      <td><%= order.status.capitalize %></td>
	      <td>$<%= order.total_price %></td>
	    </tr>
			<% end %>
	  </tbody>
	</table>
</center>
</div>
