<h4>Order:</h4>
<ul>
	<ui>Total Price: $<%= @order.total_price %></ui>
	<ui><%= @order.created_at %></ui>
	<ul>
		<% @order.items.each do |item| %>
		<ui> <%= item.title %>: $<%= item.price %></ui>
		<% end %>
	</ul>
</ul>
